@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: inline-block;
  width: 50px;
}

.cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-body h2 {
  font-weight: normal;
  margin: .5rem;
}

li {
  text-align: center;
}

.card-body {
  text-align: left;
}

.card {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .card-img img {
    display: inline-block;
  }

  .card-body {
    display: inline-block;
    width: calc(100% - 64px - .8em);
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
